@import "tailwindcss";

@media print {
  body {
    background-color: white;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .print-area {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}
